<div class="row" ng-controller="StudentController" ng-init="init()">
	<button class="btn btn-primary btn-fab top right fixed" ng-click="OpenModal()">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<!-- Modal -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Student Information</h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<label>First Name</label>
							<input class="form-control" ng-model="ModalData.first_name"/>
						</div>
						<div class="col-md-4">
							<label>Middle Name</label>
							<input class="form-control" ng-model="ModalData.middle_name"/>
						</div>
						<div class="col-md-4">
							<label>Last Name</label>
							<input class="form-control" ng-model="ModalData.last_name"/>			
						</div>
					</div><br/>
					<div class="row">
					
						<div class="col-md-4">
							<label>Suffix</label>
							<input class="form-control" placeholder="Jr / Sr / III" ng-model="ModalData.suffix"/>
						</div>
						<div class="col-md-4">
							<label>Gender</label>
							<select class="form-control" ng-model="ModalData.gender">
								<option value="">--Select--</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
							</select>
						</div>
						
						<div class="col-md-4">
							<label>Department</label>
							<select class="form-control" ng-model="ModalData.department"
														 ng-options="Department.name for Department in Departments track by Department.id"
														 ng-change="filterLevel(ModalData.department.id)">
								<option value="">--Select--</option>
							</select>
						</div>
					</div><br/>
					<div class="row">
						<div class="col-md-4">
							<label>Year Level</label>
							<select class="form-control" ng-model="ModalData.year_level"
														 ng-options="level.name for level in YearLevels track by level.id">
								<option value="">--Select--</option>
							</select>
						</div>
						<div class="col-md-4">
							<label>User</label>
							<div class="form-group">
								<select class="form-control" ng-model="ModalData.user_id"
															 ng-options="user.id as user.username for user in Users | orderBy:'username' ">
									<option value="">--Select--</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<label>Status</label>
							<select class="form-control" ng-model="ModalData.status"
														 ng-options="status.name for status in Statuses track by status.id">
								<option value="">--Select--</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default pull-left" ng-click="cancelModal()">Cancel</button>
					<button class="btn btn-danger pull-left" ng-click="deleteModal()" ng-show="Mode==='edit'&&!deleting">Archive</button>
					<button class="btn btn-primary" ng-click="save()">Save</button>
					<button class="btn btn-danger pull-left" ng-disabled="deleting" ng-show="deleting">Deleting...</button>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group">
			<div class="list-group-item list-group-header">
				<div class="pull-right"> 
					<div class="btn-group btn-group-sm">
						<button class="btn btn-default" ng-show="Students.length">
							{{FirstItem}} - {{LastItem}} of {{TotalItems}}
						</button>
						<button class="btn btn-default" ng-disabled="!PrevPage" ng-click="navigatePage(PrevPage)">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</button>
						<button class="btn btn-default" ng-disabled="!NextPage" ng-click="navigatePage(NextPage)">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</button>
					</div>
				</div>
				<label class="clear-fix">Students</label>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item list-group-header">
					<ul class="nav nav-pills">
						<li ng-repeat="Department in Departments"
							ng-click="setActiveDepartment(Department)"
							ng-class="{active:ActiveDepartment.id===(Department.id)}">
							<a>{{Department.id}}</a>
						</li>
						<div class="pull-right">
							<div class="btn-group dropdown" ng-class="{open:OpenFilter}">
								<button class="btn btn-default" ng-hide="ActiveYearLevel">
									Filter Year Level
								</button>
								<button class="btn btn-default" ng-show="ActiveYearLevel">
									{{ActiveYearLevel.name}}
								</button>
								<button class="btn btn-default dropdown-toggle" type="button" ng-click="OpenFilter=!OpenFilter" ng-show="!ActiveYearLevel">
									<span class="glyphicon glyphicon-filter"></span>
								</button>
								<button class="btn btn-default dropdown-toggle" type="button" ng-click="ClearFilter()" ng-show="ActiveYearLevel">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								<ul class="dropdown-menu pull-right">
									<li ng-repeat="lvl in YearLevels"
																ng-click="setActiveYearLevel(lvl)">
										<a href="">
											{{lvl.description}}
										</a>
									</li>
									
								</ul>
							</div>
						</div>
					</ul>
				</div>
				<div class="list-group-item">
					<table class="table table-bordered table-striped">
						<thead ng-show="Students.length">
							<tr>
								<th>LRN</th>
								<th>Student</th>
								<th>Year Level</th>
								<th class="text-center" >Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="Student in Students">
								<td>{{Student.lrn}}</td>
								<td>{{Student.first_name}} {{Student.middle_name}} {{Student.last_name}} {{Student.suffix}}</td>
								<td>{{Student.year_level_id}}</td>
								<td class="text-center" ng-click="OpenModal(Student,'edit')">
									<a href="javascript:void(0)" >
										<i class="glyphicon glyphicon-edit"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="empty-state" ng-show="!Students&&!IsLoading"  >
						<div class="well">
							<div class="empty-state-icon">
								<i class="glyphicon glyphicon-list-alt"></i>
							</div>
							<h4>No Information Available</h4>
						</div>
					</div>
					<div class="empty-state" ng-show="IsLoading"  >
						<div class="well">
							<div class="empty-state-icon">
								<i class="glyphicon glyphicon-refresh spin"></i>
							</div>
							<h4>LOADING INFORMATION</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="list-group-item list-group-search-box">
				<div class="input-group col-md-12">
					<input type="text" class="form-control" placeholder="Search by name" 
					ng-change="SearchStudent()" ng-model="SearchWord" ng-model-options='{ debounce: 500 }' />
				</div>
			</div>
		</div>
	</div>

</div>
	