<div class="row" ng-controller="UserManagementController" ng-init="init()">

	<button class="btn btn-primary btn-fab top right fixed" ng-click="openModal()">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<!-- Modal -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Student Information</h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<label>Username</label>
							<input ng-disabled="isReset" class="form-control" ng-model="data.username"/>
						</div>
						<div class="col-md-6">
							<label>Status</label>
							<select ng-disabled="isReset" class="form-control" ng-model="data.status"
														 ng-options="status.id as status.name for status in Statuses">
								<option value="">--Select--</option>
							</select>
						</div>
					</div><br/>
					<div class="row">
						<div class="col-md-6">
							<label>User Type</label>
							<select ng-disabled="isReset" class="form-control" ng-model="data.user_type_id"
															 ng-options="userType.id as userType.name for userType in UserTypes | orderBy:'id' ">
								<option value="">--Select User Type--</option>
							</select>
						</div>
						<div class="col-md-6">
							<label>Department</label>
							<select ng-disabled="isReset" class="form-control" ng-model="data.department_id"
															 ng-options="department.id as department.description for department in Departments | orderBy:'id' ">
								<option value="">--Select Department--</option>
							</select>
						</div>
					</div><br/>
					<div class="row">
						<div class="col-md-6">
							<label>Password</label>
							<input type="password" ng-disabled="isReset" class="form-control" ng-model="data.password"/>
						</div>
						<div class="col-md-6" ng-if="Mode=='edit'">
							<label>&nbsp;</label>
							<button ng-click="reset()" class="btn btn-default btn-block">Reset</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default pull-left" ng-click="cancelModal()">Cancel</button>
					<button ng-if="!isReset" 
						ng-disabled="
						!data.username
						|| !data.username
						|| !data.status
						|| !data.user_type_id
						|| !data.department_id"
						class="btn btn-primary" ng-click="save()">Save</button>
					<button ng-if="isReset" class="btn btn-primary" ng-click="save()">Reset Password</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<div class="pull-right"> 
					<div class="btn-group btn-group-sm">
						<button class="btn btn-default" ng-show="Users.length">
							{{FirstItem}} - {{LastItem}} of {{TotalItems}}
						</button>
						<button class="btn btn-default" ng-disabled="!PrevPage" ng-click="navigatePage(PrevPage)">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</button>
						<button class="btn btn-default" ng-disabled="!NextPage" ng-click="navigatePage(NextPage)">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</button>
					</div>
				</div>
				<label class="clear-fix">Users</label>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item list-group-header">
					<ul class="nav nav-pills">
						<li ng-repeat="Department in Departments"
							ng-click="setActiveDepartment(Department)"
							ng-class="{active:ActiveDepartment.id===(Department.id)}">
							<a>{{Department.id}}</a>
						</li>
						<div class="pull-right">
							<div class="btn-group dropdown" ng-class="{open:OpenFilter}">
								<button class="btn btn-default" ng-hide="ActiveStatus">
									All
								</button>
								<button class="btn btn-default" ng-show="ActiveStatus">
									{{ActiveStatus.name}}
								</button>
								<button class="btn btn-default dropdown-toggle" type="button" ng-click="OpenFilter=!OpenFilter" ng-show="!ActiveStatus">
									<span class="glyphicon glyphicon-filter"></span>
								</button>
								<button class="btn btn-default dropdown-toggle" type="button" ng-click="ClearFilter()" ng-show="ActiveStatus">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								<ul class="dropdown-menu pull-right">
									<li ng-repeat="stat in Statuses"
																ng-click="setActiveStatus(stat)">
										<a href="">
											{{stat.name}}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</ul>
				</div>
				<div class="list-group-item">
					<table class="table table-bordered">
						<thead ng-show="Users.length">
							<tr>
								<th>Username</th>
								<th>Status</th>
								<th>ACtion</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="User in Users">
								<td>{{User.username}}</td>
								<td>{{User.status}}</td>
								<td ng-click="openModal(User,'edit')" class="text-center">
									<a href="javascript:void(0)" >
										<i class="glyphicon glyphicon-edit"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="empty-state" ng-show="!Users&&!IsLoading"  >
						<div class="well">
							<div class="empty-state-icon">
								<i class="glyphicon glyphicon-list-alt"></i>
							</div>
							<h4>No Information Available</h4>
						</div>
					</div>
					<div class="empty-state" ng-show="IsLoading"  >
						<div class="well">
							<div class="empty-state-icon">
								<i class="glyphicon glyphicon-refresh spin"></i>
							</div>
							<h4>LOADING INFORMATION</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="list-group-item list-group-search-box">
				<div class="input-group col-md-12">
					<input type="text" class="form-control" placeholder="Search by username" 
					ng-change="SearchUser()" ng-model="SearchWord" ng-model-options='{ debounce: 500 }' />
				</div>
			</div>
		</div>
	</div>
</div>