<div class="row" ng-controller="ResetPasswordController" ng-init="init()">
	<div class="col-md-4 col-md-offset-4">
	
		<form action="" class="form-vertical">
			<div class="list-group-item">
				<p class="help-text">Send Email</p>
				<div class="form-group">
					<input type="text" class="form-control input-lg" placeholder="Student No." ng-model="data.sno"/>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email Address" ng-model="data.emmail"/>
				</div>
				<div class="row">
					<div class="col-md-6"> 
						<button class="btn btn-default btn-block" ng-click="cancel()" ng-disabled="Registering" type="button">CANCEL</button>
					</div>
					<div class="col-md-6"> 
						<button class="btn btn-success btn-block" ng-click="send()"  ng-disabled="Registering" type="button">SEND EMAIL</button>
					</div>
				</div>
				<div class="text-center">
					<hr class="help-bar"/>
					<div>or</div>
					<p class="help-text">Go back.</p>
					<a href="sap/#/login" class="btn btn-help btn-default btn-xs" type="button">
					 &nbsp; L O G I N &nbsp;
					</a>
				</div>
			</div>
		</form>
	</div>
</div>