<div class="row" ng-controller="ChallengeController" ng-init="init()">
	<div  ng-if="!ValidSNo && !EmailVerificationSent" class="col-md-4 col-md-offset-4">
		<!--<center><img src="webroot/img/ser.png" type="image/x-icon" rel="icon"/></center>-->
		<div class="list-group-item">
			<p class="help-text">Reset Password</p>
			<div class="form-group">
				<input ng-model="data.sno" class="form-control input-lg" placeholder="Student No."/>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-6"> 
					<button ng-click="validateSno()"
							ng-disabled="!data.sno" 
							class="btn btn-warning btn-default btn-block">Next</button>
				</div>
			</div>
			<div class="text-center">
				<hr class="help-bar"/>
				<div>or</div>
				<p class="help-text">Go back.</p>
				<a href="/sap/#/login" class="btn btn-help btn-default btn-xs" type="button">
				 &nbsp; L O G I N &nbsp;
				</a>
			</div>
		</div>
	</div>
	<div  ng-if="ValidSNo && !EmailVerificationSent" class="col-md-4 col-md-offset-4">
		<div class="list-group-item">
			<p class="help-text">Reset Password</p>
			<div class="form-group">
				<input ng-model="data.email" class="form-control" placeholder="Email Address"/>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-6"> 
					<button ng-click="validateEmail()"
							ng-disabled="!data.email || sending" 
							class="btn btn-success btn-block">
						<span ng-if="!sending">SEND EMAIL</span>
						<span ng-if="sending">SENDING <img height="20px" src="webroot/img/mailsending2.gif"></img></span>
					</button>
				</div>
			</div>
			<div class="text-center">
				<hr class="help-bar"/>
				<div>or</div>
				<p class="help-text">Go back.</p>
				<a href="/sap/#/login" class="btn btn-help btn-default btn-xs" type="button">
				 &nbsp; L O G I N &nbsp;
				</a>
			</div>
		</div>
	</div>
	<div ng-if="EmailVerificationSent" class="col-md-4 col-md-offset-4">
		<p>Verification Link sent to your email. Pls. check you email. This page will automatically redirect you in {{counter}} seconds.</p>
		
		<p>If you want to go to your email now, <a target="_blank" href="{{email_link}}">click here</a>.</p>
	</div>
</div>