<div class="row" ng-controller="ChangePasswordController" ng-init="init()">
	<div ng-if="user.token_status" class="col-md-4 col-md-offset-4">
		<div class="list-group-item">
			<p class="help-text">Change Password</p>
			<div class="form-group">
				<input type="password" ng-model="data.password" class="form-control" placeholder="New Password"/>
			</div>
			<div class="form-group">
				<input type="password" ng-model="data.retype_password" class="form-control" placeholder="Re-type New Password"/>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-6"> 
					<button ng-click="changePassword()"
							ng-disabled="!data.password" 
							ng-disabled="!data.retype_password" 
							class="btn btn-warning btn-default btn-block">Change</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="user && !user.token_status" class="col-md-4 col-md-offset-4">
		This link to reset password already expired. You may request to <a href="/sap/#/signin/challenge">reset password</a> again...
	</div>
</div>