<div class="row" ng-controller="VerifyAccountController" ng-init="init()">
	<div ng-if="!EmailVerificationSent" class="col-md-4 col-md-offset-4">
		<div class="list-group-item">
			<p class="help-text">Register your email now</p>
			<div class="form-group">
				<input type="email" ng-model="data.email" class="form-control" placeholder="Email"/>
			</div>
			<div class="row">
				<div class="col-md-7 col-md-offset-5"> 
					<button ng-click="register()"
							ng-disabled="!data.email || sending"
							class="btn btn-success btn-block">
						<span ng-if="!sending">REGISTER</span>
						<span ng-if="sending">SENDING <img height="20px" src="webroot/img/mailsending2.gif"></img></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="EmailVerificationSent" class="col-md-4 col-md-offset-4">
		<p>Verification Link sent to your email. Pls. check you email. This page will automatically redirect you in {{counter}} seconds.</p>
		<p>If you want to go to your email now, <a target="_blank" href="{{email_link}}">click here</a>.</p>
	</div>
</div>