<div  ng-controller="PageController" ng-init="init()">
<div class="row">
	<div class="col-md-12">
	<div class="list-group">
		<div class="list-group-item list-group-header">
			<label class="clear-fix">Juan Dela Cruz </label>
			<div class="btn-group btn-group-sm pull-right">
				<button class="btn btn-default">SY </button>
			</div>
		</div>
		<div class="list-group-canvas">
			<div class="list-group-item" style="height:100%">
				<iframe src="api/webroot/reports/sample_reportcard.pdf" frameborder="0" style="width:100%;height:100%;display:block;"></iframe>
			</div>
		</div>
	</div>
</div>